
:root {
  /* colors */
  --white: #fff;
  --black: #000;
  --light-gray: #808f96;

  /* font-sizes */
}

body {
  /* background: url("img/ex_pokemon-background.jpg"); */
  /* background-repeat: no-repeat, repeat; */
  background-color: rgb(209, 209, 209, 0.6);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.15;
}


.page-title {
  margin-top: 80px;
}

.title {
  text-align: center;
  font-size: 80px;
  margin: 15px;
  font-family: "Luckiest Guy", cursive;
}

.gradient-text {
  background-color: rgb(194, 48, 48);
  background-image: linear-gradient(270deg, yellow 25%, rgba(255, 255, 255, 0) 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/* START TIENKUO */
.button-pokemon {
  background-color: rgb(194, 48, 48);
  border: 0;
  border-radius: 2em;
  box-sizing: border-box;
  color: yellow;
  width:80%;
  margin: 5px;
  cursor: pointer;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-pokemon::before {
  background-color: initial;
  background-image: linear-gradient(90deg, #fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 2em;
  content: "";
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}

.button-pokemon:hover {
  border-color: #33ccff;
  border-style: outset;
  border-width: thin;
  border-bottom: none;
  background-color: #fff;
  background-image: linear-gradient(to top, #33ccff 0, rgba(255, 255, 255, 0) 100%);
  color: rgb(194, 48, 48);
}

/* CONTINUE ORIGINAL */
.pokemon-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  grid-row-gap: 20px;
  grid-column-gap: 100px;
  margin: auto;
}

@supports (display: grid) {
  .pokemon-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .pokemon-list {
    grid-template-columns: 1fr;
    grid-column-gap: 50px;
  }

  /* Add more responsive design settings */
}

@media (min-width: 600px) and (max-width: 1100px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }
}

/*
h1 {
  font-size: 30px;
  font-weight: 700;
}

p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

ul {
  padding: 0;
  text-align: center;
  width: 100%;
} */

.title {
  text-align: center;
}

.pokemon-list_button {
  width: 200px;
  background-color: rgba(211, 211, 211, 0.9);
  color: black;
  border: 3px solid red;
  border-radius: 8px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.pokemon-list_button:hover,
.pokemon-list_button:focus {
  opacity: 0.8;
}

.pokemon-list_button:visited {
  background-color: var(--light-gray);
}

/* modal styling */
.modal-container {
  position: fixed;
  padding: 10px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba (0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

/* .modal {
  font-family: 'Ubuntu', sans-serif;
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 0 10px;
  border-radius: 10px;
  padding: 15px;
  width: 50%;
  height: 60%;
  text-align: center;
} */

.is-visible {
  display: grid;
}

.modal_img {
  width: 20vw;
  height: auto;
}

.modal_imgb {
  width: 20vw;
  height: auto;
}

p.modal_text {
  font-size: 110%;
  line-height: 150%;
}

h1.modal_title {
  font-size: 200%;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
  transition-duration: 0.4s;
  cursor: pointer;
}
