
:root {
  /* colors */
  --white: #fff;
  --black: #000;
  --light-gray: #808f96;

  /* font-sizes */
}

* {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--white);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.15;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

.pokemon-list_button {
  width: 150px;
  background-color: rgba(211, 211, 211, 0.9);
  color: black;
  border: 3px solid red;
  border-radius: 8px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.pokemon-list_button:hover,
.pokemon-list_button:focus {
  opacity: 0.8;
}

.pokemon-list_button:visited {
  background-color: var(--light-gray);
}
